body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4; 
    color: #333; 
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffcc00;
}


nav a.active {
    background-color: #000; 
    color: #fff; 
}


header {
    box-shadow: 0 2px 5px rgba(247, 244, 244, 0.1);
}


section {
    padding: 80px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h2 {
    color: #f0eaea;
}


#about {
    background-color: #020b12; 
    color: #fff; 
    text-align: center;
}


#skills {
    background-color: #021013; 
    color: #fff; 
    text-align: center;
}


#projects {
    background-color: #100b02; 
    color: #fff; 
    text-align: center;

}


#experience {
    background-color: #0d010f; 
    color: #fff; 
    text-align: center;
}


#contact {
    background-color: #040500; 
    color: #fff; 
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label, input, textarea, button {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

button {
    background-color: #f7f2f2;
    color: #021407; 
    padding: 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: #3ce73f; 
    color: #fff; 
}
